*{
	list-style: none;
}

.header{
	height: 32px;
	border-bottom: 1px solid #ccc;
	background: #f7f7f7;
	width: 100%;
}
.neikuan{
	width: 1200px;
	margin: 0 auto;	
}
.denglu{
	width: 435px;
	height: 32px;
	float: right;
}
.huanying{
	float: left;
	height: 32px;
    width: 144px;
    font-size: 12px;
    line-height: 32px;
    color: #808080
}
.dengzhu{
	width: 79px;
	height: 32px;
	float:left;
	/*margin-left:2px;*/
}
.dl{
	font-size: 12px;
    line-height: 32px;
    color: #808080;
    margin-left:15px;
    float:left;
}

.xian{
	width: 1px;
	height: 12px;
	background: #a0a0a0;
	float:left;
	margin-left: 5px;
	margin-top: 10px;
}
.zc{
	font-size: 12px;
    line-height: 32px;
    color: #808080;
    float:left;
    margin-left: 5px;
}
.gonggao{
	width: 72px;
	height: 32px;
	float: left;
	font-size: 12px;
    line-height: 32px;
    color: #808080;
    margin-left: 15px;
}
.gonggaotuimg{
	margin-top:7px;
	float: left;
	margin-right: 3px;
}
.gonggaozi{
	float: left;
	color: #666;
}
.dingdan{
	width: 50px;
	height:32px;
	float:left;
	margin-left: 15px;
	font-size: 12px;
    line-height: 32px;
    color: #808080;
}
.wx{
	float: left;
	margin-left: 13px;
	margin-top: 7px;
	position: relative;
}
.wb{
	float: right;
	margin-left: 2px;
	margin-top: 7px;
}
.weixin2{
	position: relative;
}
.erweima{
	width: 148px;
	height: 169px;
	z-index: 7;
	background: #fff;
	position: absolute;
	right:0px;
	top:32px;
	border:1px solid #eee;
	background-image: url(../img/weixin.png);
	display: none;
}
.gouwukuang{
	width: 315px;
	border: 1px solid #b81c22;
	position: absolute;
	top:27px; 
	right:0;
	font-family: 苹方;
	font-size: 12px;
	line-height: 16px;
	background: #fff;
	padding: 8px;
	color: #333;
	text-align: left;
	display: none;
}
.neikuan1{
	width: 1200px;
	margin: 0 auto;
	padding-top: 33px;
}
.yushou{
	width: 1200px;
	height:130px;
	background: #fff;
	font-size:18px;
	line-height: 130px;
	text-align: center;
}
.chunji{
	font-size:18px;
	/*line-height: 130px;*/
	text-align: center;
	color:#9a9a9a;
	margin-top:-35px;
}
.tupian{
	width: 1200px;
	height: 1200px;
}
.tupian1{
	width: 390px;
	height: 600px;
	float:left;
}
.tupian a{
	display: block;
	width: 390px;
	height: 600px;
}
.tupian2{
	width: 390px;
	height: 600px;
	float:left;
	margin-left: 15px;
}
.neikuan1{
	width: 1200px;
	margin: 0 auto;
	padding-top: 33px;
}
.hanguogou{
	width: 1200px;
	height:124px;
	background: #fff;
	/*font-size:18px;
	line-height: 124px;
	text-align: center;*/
	padding: 1px;
}
.bazhe{
	font-size:18px;
	/*line-height: 124px;*/
	text-align: center;
	color:#9a9a9a;
	margin-top: 45px;
}
.hanguo-con{
	width: 1200px;
	height: 509px;
	background: :red;
	margin: 0 auto;
}
.hanguo-tuijian{
	width: 590px;
	height: 509px;
	float: left;
	margin-right: 17px;
}
.hanguo-zhong{
	width: 290px;
	float: left;
	height: 509px;
	margin-right: 17px;
}
.hanguo-you{
	width: 286px;
	float: left;
	height: 509px;
}
.hanguo-tuijian img{
	display: block;
}
.hanguo-tuijian-info{
	height: 68px;
	border:1px solid #e8e7ec;
	border-top: 0px;
}
.maoshan{
	line-height: 69px;
	font-size: 13px;
	margin-left: 12px;
	float: left;
	color: #333333;
}
.shuzizuo{
	line-height: 69px;
	font-size: 13px;
	margin-right: 12px;
	float: right;
	color: #ab0000;
} 
.hanguo-zhong-shang img{
	display: block;
}

.hanguo-zhong-xia img{
	display: block;
	border-top: 11px;
}
.hanguo-zhong-xia{
	border-top: 11px;
}
.body2{
	width:1198px;
	height:282px;
	border:1px solid #e0e0e1;
	margin: 0 auto;
	margin-top: 25px;
}
.lianxi{
	width:398px;
	height:158px;
	border-right:1px solid #e0e0e1;
	border-top:1px solid #fff;
	margin-top:33px;
	float:left;
}
.lianxi11{
	width:398px;
	height:158px;
	border-top:1px solid #fff;
	margin-top:33px;
	float:left;
}
.lianxi1{
	width:42px;
	height:42px;
	margin: 33px 169px 31px 204px;
	float:left;
}
.zi{
	width:156px;
	height:32px;
	background:#b81c22;
	margin: 109px 108px 17px 147px;
	font-size: 12px;
	line-height:32px;
	text-align: center;
	color: #ffffff;
}
.zi1{
	width:156px;
	height:32px;
	margin:79px 108px 17px 147px;
	font-size: 12px;
	color:#727171;
	text-align: center;
}
.zi2{
	width:156px;
	height:32px;
	margin-right:100px;
	margin-left: 140px;
	font-size: 12px;
	color:#727171;
	text-align: center;
}
.lianxi2{
	width:98px;
	height:98px;
	margin-top:20px;
	margin-left:136px;
	float:left;
}
.zi3{
	margin-top: 128px;
	margin-left:132px;
	font-size:12px;
	color:#727171;
}
.zi3 a{
	color:#b81c22;
}
.huitiao{
	width:1119px;
	height:55px;
	background:#f8f8f8;
	margin-right:auto;
	margin-left:auto;
	margin-top:215px;

}
.guanyu{
	width:183px;
	height:26px;
	border-right:1px solid #dadadb;
	font-size:12px;
	text-align:center;
	line-height:26px;
	float:left;
	margin-top:17px;
	color: #666;
}
.guanyu1{
	width:175px;
	height:26px;
	font-size:12px;
	text-align:center;
	line-height:26px;
	float:left;
	margin-top:17px;
	color: #666;
}
.hanguo-you-info{
	height: 68px;
	border:1px solid #e8e7ec;
	border-top: 0px;
	margin-top: -3px;
}
.hanguo-zhongxia-info{
	height: 68px;
	border:1px solid #e8e7ec;
	border-top: 0px;
	margin-top: 16px;
}

.hanguo-zhong-xia img{
	display: block;
	margin-top: 20px;
}
.tuijian{
	width: 590px;
	height: 509px;
}
.zhongjian{
	width: 290px;
	height: 509px;
}
.youtu{
	width: 286px;
	height: 509px;
}
.neikuan2{
	width: 1200px;
	height: 535px;
	margin: 0 auto;
	background: red;
	position: relative;
}
.neikuan2 a{
	width: 1200px;
	height: 535px;
	display: block;
}
.neikuan2 a img{
	position: absolute;
	left: 0;
	top:0;
	z-index: 1;
}
.diandian{
	width: 150px;
	height: 12px;
	position: absolute;
	bottom: 23px;
	left: 0;
	right: 0px;
	margin:auto;
	text-align: justify;
	z-index:3;
}
ul{
	text-align: center;
	width: 100%;
	border: 1px solid #eee;
	border-top: 0;
	background: #fff;
}
ul li{
	font-size: 18px;
	color: #555;
	font-family: 苹方;
	line-height: 40px;
	height: 40px;
}
.daohang ul li:hover{
	color:#b81c22;
}
.daohang1 ul li:hover{
	color:#b81c22;
}
.diandian:after{
	content: "";
	display: inline-block;
	width: 100%;
}
.diandian .yuanquan{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #ddd;
	display: inline-block;
}
.diandian .yuanquan:hover{
	cursor: pointer;
}
.zuojiantou{
	width: 18px;
	height: 53px;
	position: absolute;
	left: 13px;
	top: 0;
	bottom: 0;
	margin: auto;
	/*背景图*/
	background-image: url(../img/focus_lr0918.png);
	/*背景图位置    左右  上下*/
	background-position:-3px -6px;
	cursor: pointer;
	z-index: 5;	
}
.youjiantou{
	width: 18px;
	height: 53px;
	position: absolute;
	right: 13px;
	top: 0;
	bottom: 0;
	margin: auto;
	background-image: url(../img/focus_lr0918.png);
	/*背景图位置    左右  上下*/
	background-position:-61px -6px;
	z-index: 5;
	cursor: pointer;
}
/*伪类选择器*/
.youjiantou:hover{
	background-position: -61px -66px;
}
.zuojiantou:hover{
	background-position: -3px 58px;
}
/*.neikuan2:hover .youjiantou{
	background-position: -60px -66px;
}*/
.neikuan3{
	width: 1200px;
	height: 144px;
	margin: 0 auto;
	padding-top:1px;
}
.sousuokuang{
	width: 259px;
	height: 27px;
	border:1px solid #c9caca;
	margin-top: 27px;
	margin-left: 762px;
	float: left;
	line-height: 27px;
	text-align: left;
	color: #000;
	font-size: 12px;
	padding-left: 8px;
}
.sousuo{
	width: 47px;
	height: 27px;
	border:1px solid #c9caca;
	margin-top: 27px;
	margin-left: 1022px;
	border-left: 0px;
	background: #b71c22;
	line-height: 27px;
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
}
.gouwu{
	width: 105px;
	height: 29px;
	margin-top: -27px;
	float: right;
	line-height: 27px;
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	position: relative;
}
.gouwuche{
	width: 105px;
	height: 27px;
	border: 1px solid #c1383e;
	background: #b71c22;
	float: right;
	line-height: 27px;
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	position: relative;
	z-index: 5;
}
.gouwuche:hover{
	background: #fff;
	border-bottom:1px solid #fff;
	color: #c1383e;
}
.remen{
	width: 400px;
	height: 27px;
	line-height: 27px;
    font-size: 11px;
    color:#727171; 
    margin-left: 1040px;
	float: right;
	cursor: pointer;
}
.daohanglan{
	width: 1200px;
	height: 88px;
}
.tubiao{
	float: left;
}
.daohang{
	width: 98px;
	height: 16px;
	border-right: 1px solid #888888;
	line-height: 16px;
	text-align: center;
	font-size:16px;
	color: #727171;
	float: left;
	margin-top: 20px;
	cursor: pointer; 
	position: relative;
}
.daohang2{
	width: 98px;
	height: 16px;
	border-right: 1px solid #888888;
	line-height: 16px;
	text-align: center;
	font-size:16px;
	color: #727171;
	float: left;
	margin-top: 20px;
	cursor: pointer; 
}
.xiaxuan{
	width: 98px;
	position: absolute;
	left:0;
	z-index: 10;
	top:16px;
	overflow: hidden;
}
.xiaxuan1{
	width: 98px;
	position: absolute;
	left:0;
	z-index: 10;
	top:16px;
	overflow: hidden;
}
.daohang:hover{
	color:#a10000;
}
.daohang1:hover{
	color:#a10000;
}
.daohang2:hover{
	color:#a10000;
}
.daohang1{
	width: 98px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	font-size:16px;
	color: #727171;
	float: left;
	margin-top: 20px;
	cursor: pointer; 
	position: relative;
}
.hongtiao{
	background: #b81c22;
	width: 100%;
	height: 5px;
}
.dingdan:hover{
	color:#a10000;
}
.gonggaozi:hover{
	color:#a10000;
}
.neikuan4{
	width: 1200px;
	height: 186px;
	margin: 0 auto;
}
.fengexian{
	height: 25px;
	border-bottom: 1px solid #3e3a39
}
.copy{
	text-align: center;
	font-size:12px;
	color: #3e3a39;
	margin-top: 18px;
}
.gezhongtubiao1{
	float: left;
	margin-top: 41px;
	margin-left: 236px;
}
.gezhongtubiao2{
	float: left;
	margin-top: 37px;
	margin-left: 21px;
}
.gezhongtubiao3{
	float: left;
	margin-top: 40px;
	margin-left: 24px;
}
.gezhongtubiao4{
	float: left;
	margin-top: 43px;
	margin-left: 27px;
}
.gezhongtubiao5{
	float: left;
	margin-top: 39px;
	margin-left: 26px;
}
.gezhongtubiao6{
	float: left;
	margin-top: 42px;
	margin-left: 20px;
}
.taida{
	width: 120px;
	height: 39px;
}
.youxiajiaobiao{
	position: fixed;
	right: 10px;
	bottom: 50px;
	z-index: 5;
}
.hanguo-zhong-shang{
	width: 290px;
	height: 223px; 
}
.hanguo-zhongshang-info{
	height: 68px;
	border:1px solid #e8e7ec;
	border-top: 0px;
}